@model IEnumerable<Order>

<div class="row">
    <div class="col-md-8 offset-2">
        <h2> Those are your orders</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Order id
                    </th>
                    <th>
                        Items
                    </th>
                    <th>
                        Price
                    </th>
                    <th class="align-middle">
                        -
                    </th>
                </tr>
            </thead>
            <tbody>
                
                @foreach (var item in Model)
                {
                        <tr>
                            <td>
                            @item.Id
                        </td>
                        <td>
                            <ul class="list-group">
                                @foreach (var order in item.OrderItems)
                                {
                                    <li>
                                        <span class="badge bg-info"> @order.Amount </span> (@order.Price.ToString("c")) - @order.Movie.Name
                                    </li>
                                }

                            </ul>
                        </td>
                        <th>
                            @item.OrderItems.Select(x => x.Movie.Price * x.Amount).Sum().ToString("c")
                        </th>
                        </tr>
                        

                    }

            </tbody>

        </table>
    </div>
</div>